.container-flex {
  display: flex; 
  flex-direction: row;
}

.myForm {
    width: 100%;
    background: transparent;
    border: transparent;
}




select {
  border-radius: 6px;
  height: 46px;
}

.primary {
  border-radius: 6px;
}

